<h1>This is the Products#Index page</h1>

<div id="filter-by">
  <p class="filter-sort-header">
    FILTER BY
  </p>
  <div class="filter-options">
    <p class="filter-type-title">

    </p>
  </div>
</div>
